body {
    background-color: black;
    color: white;
}

a:link {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:visited {
    color: gold;
}

.page-content {
    background-color: darkblue;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: darkred;
    border-radius: 20px;
}

.about-me {
    background-color: darkred;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: darkblue;
    border-radius: 20px;
}

.my-photo {
    border-style: inset;
    border-width: 5px;
    border-color: white;
    width: 193px;
    height: 258px;
}

.landscape-horizontal {
    width: 252px;
    height: 189px;
}

.landscape-portrait {
    width: 189px;
    height: 252px;
}

.flower-pic {
    width: 249px;
    height: 258px;
}

.simon-pic {
    width: 182px;
    height: 243px;
}

.projects-style {
    background-color:darkorchid;
    color:black;
    border-style:dashed;
    border-color: white;
    border-width: 3px;
    padding-top: 0px;
}
