body {
    background-color: black;
    color: white;
}

a {
    cursor: pointer;
}

a:link {
    color:purple;
    text-decoration: none;
}

a:active {
    color: black;
}

a:hover {
    color:maroon;
    text-decoration: underline;
}

a:visited {
    color: maroon;
}

.page-content {
    text-align: center;
    background-color: rgb(20, 20, 98);
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color:steelblue;
    border-radius: 50px;
}

.about-me {
    background-color:steelblue;
    color:black;
    border-style: solid;
    border-width: 5px;
    border-color: darkblue;
    border-radius: 50px;
}

.my-photo {
    
    border-style: inset;
    border-width: 5px;
    border-color: silver;
    width: 193px;
    height: 258px;
}

.center {
    text-align: center;
}

.lorem-style {
    font-family:'Courier New', Courier, monospace;
}

.about-list-style {
    list-style-type:circle;
}

.landscape-horizontal {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 378px;
    height: 284px;
}

.landscape-portrait {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 213px;
    height: 284px;
}

.flower-pic {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 274px;
    height: 284px;
}

.work-style {
    border-style: double;
    border-color: black;
    border-width: 5px;
    width: 505px;
    height: 284px;
}

.simon-pic {
    border-style: outset;
    border-color:silver;
    border-width: 5px;
    width: 213px;
    height: 284px;
    cursor: grab;
}

.projects-style {
    margin: 50px 20%;
    padding-left: 10px;
    padding-right: 10px;
    background-color:darkgray;
    color:black;
    border: 3px dashed white;
    padding-top: 0px;
}

.project-list-style {
    list-style-type:square;
}

.link-list{
    list-style-type: none;
    float: left;
    padding-right: 10px;
}

.iframe-style {
    border: 10px solid rgb(20, 20, 98);
    width: 97%;
    height: 300px;
    background-color: white;
    color: black;
}

.contact-style {
    margin-left: 20px;
}