body {
    background-color: black;
    color: white;
}

a {
    cursor: pointer;
}

a:link {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:visited {
    color: gold;
}

.page-content {
    text-align: center;
    background-color: darkblue;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: darkred;
    border-radius: 20px;
}

.about-me {
    background-color: darkred;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: darkblue;
    border-radius: 20px;
}

.my-photo {
    
    border-style: inset;
    border-width: 5px;
    border-color: white;
    width: 193px;
    height: 258px;
}

.center {
    text-align: center;
}

.landscape-horizontal {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 252px;
    height: 189px;
}

.landscape-portrait {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 189px;
    height: 252px;
}

.flower-pic {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 249px;
    height: 258px;
}

.work-style {
    border-style: double;
    border-color: black;
    border-width: 5px;
    width: 300px;
    height: 200px;
}

.simon-pic {
    border-style: outset;
    border-color:aquamarine;
    border-width: 5px;
    width: 182px;
    height: 243px;
    cursor: grab;
}

.projects-style {
    margin: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:darkorchid;
    color:black;
    border-style:dashed;
    border-color: white;
    border-width: 3px;
    padding-top: 0px;
}
